body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(230, 111, 14);
}

li {
    cursor: pointer;
}


img.raio1 {
    position: absolute;
    height: 50px;
}


.logo{
    width: 180px;
}

/* Inicio dos produtos */
.box_produto{
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    vertical-align: bottom;
}

.ulCat {
    width: 200px;
}

.box_produto p {
    width: 320px;
}

img.itens {
    width: 120px;
    cursor: pointer;
    
}

section.produtos{
    margin-left: 200px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px rgba(0,0,0, 0.5);
    margin-top: -10px;
}

section.categorias{
    width: 220px;
    position: absolute;
}

ul, li {
    padding-left: 10px;
}

/* Fim dos produtos */

/* Inicio footer */
#rodape{
    text-align: center;
    margin: 100px auto 0 auto;
}

/* Fim do footer*/

/* Inicio dos Contatos*/

div.container_contatos{
    margin-top: 50px;
}

div.zap img {
    width: 50px;
}

div.email img{
    width: 50px;
}

form.formCont {
    width: 500px; 
    margin: 50px auto 60px auto;
}

.inputMsg {
    width: 400px; 
    height:50px;
}

.inputNome {
    width: 400px;
}
/* Fim dos Contatos*/

/* Inicio Nossas lojas*/
div.lojas{
    display: inline-block;
    margin: 30px 50px 30px 50px;
}

div.container_lojas{
    text-align: center;
}
/*Fim Nossas Lojas*/